{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags%}

{% if user.is_authenticated %}
    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Access To This Page Denied!</h5>
{% else %}
    <div class = 'container'>
        <form method = 'POST'>
            {% csrf_token %}
            {{form|crispy}}
            <button class="btn btn-dark btn-block border-0 py-3" type="submit">Sign Up Now</button>
        <form>
        Already Have An Account? <a href="{% url 'login' %}">Login</a>
    </div>

    <!-- Registration Start -->
    <div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <div class="mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Don't Miss Out!</h5>
                        <h1 class="text-white">Join Hundreds Of Other Students</h1>
                    </div>
                    <p class="text-white">Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor lorem ipsum ut sed eos,
                        ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est
                        dolor
                    </p>
                    <ul class="list-inline text-white m-0">
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Labore eos amet dolor amet diam</li>
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Etsea et sit dolor amet ipsum</li>
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Diam dolor diam elitripsum vero.</li>
                    </ul>
                </div> 
            </div>
        </div>
    </div>
        <!-- Registration Ends -->
{% endif %}
    
{% endblock content %}